/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: center;

    }

h3 {
    color: #ffffff;
    text-align: center;
    
    }

h4 {
    color: #000000;
    text-align: center;
        
    }

p {
    color: #ffffff;
    text-align: center;
        
    }

ul {
    color: #000000;
    text-align: center;
            
    }

li {
    color: #000000;
    text-align: center;
                
    }
    
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: #000000;
    margin-bottom: 20px;
}

.computadora-destacada {
    text-align: center;
    margin-bottom: 20px;
}

.computadora-destacada img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.computadoras-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.computadora {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: center;
}

.computadora img {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

footer {
    background-color: #505050;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    background-color: #000080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
